* {
	margin:0;
	padding:0;
	}
html, body {
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
}

a {
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
}

#header {
	width:940px;
	height:250px;
	background:url(../img/header.png);
}
#menu {
	width:958px;
	height:40px;
	border:1px solid #666;
	margin-bottom:5px;
	background:#000099;
}

.contentbox {
	border:1px solid #000;
	border-top-right-radius:9px;
	border-top-left-radius:9px;
	padding:5px 5px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#clear {
	clear:both;
}
#rodape {
	width:950;
	height:20px;
	background:#000099;
	border:1px solid #000;
	padding:0px 5px;
	color:#FFF;
}

